<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true" cardClass="">
            <div class="row text-center">
                <div class="col-sm-12">
                    <button class="btn btn-primary mb-5" (click)="generatePDF()">Generar PDF</button>
                    <embed src="" id="foo" class="col-12" height="1000">

                        <div id="captura" style="width: 100px; height: 100px;" >
                            Esta es una captura
                            <button class="btn btn-primary"> Hola</button>
                        </div>
                </div>
            </div>
        </app-card>
    </div>
</div>