<div class="row">
  <div class="col-sm-12">
    <app-card>
      <div class="row">
        <div class="col-sm-12">
          <aw-wizard #wizard class="arc-wizard">
            <aw-wizard-step stepTitle="Grupo Organizado">
              <div class="row">
                <div class="col-12">
                  <h5>Grupo Organizado</h5>
                  <hr>
                  <form autocomplete="off" [formGroup]="formGrupoOrganizadoValidation">
                    <div class="form-group row">
                      <div class="col-12 col-lg-6">
                        <label>Nombre del organismo <label class="text-danger">*</label> </label>
                        <input type="text" class="form-control" placeholder="Nombre del organismo"
                          formControlName="nombre">
                        <span class="form-text text-danger" *ngIf="validarFormGrupoOrganizado('nombre')">Campo
                          obligatorio</span>
                        <span class="form-text text-danger"
                          *ngIf="formGrupoOrganizadoValidation.controls['nombre'].hasError('minlength')">Mínimo diez
                          caracteres</span>
                        <span class="form-text text-danger"
                          *ngIf="formGrupoOrganizadoValidation.controls['nombre'].hasError('maxlength')">Máximo
                          docientos caracteres</span>
                        <span class="form-text text-danger"
                          *ngIf="formGrupoOrganizadoValidation.controls['nombre'].errors?.pattern">No se permiten
                          caracteres especiales</span>
                      </div>
                      <div class="col-12 col-lg-6">
                        <label>Logotipo</label>
                        <div *ngIf="imagenFile" class="mb-3">
                          <img width="50" height="50" [src]="imagenFile">
                        </div>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="Logotipo" formControlName="logotipo"
                            accept="image/*" (change)="cargarImagen($event.target.files)">
                          <label class="custom-file-label" for="Logotipo">{{nombreArchivoImgeFile}}</label>
                        </div>


                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-12 col-lg-3">
                        <label>Acta constitutiva</label>
                        <input type="text" class="form-control" placeholder="Acta constitutiva"
                          formControlName="acta_constitutiva">
                      </div>
                      <div class="col-12 col-lg-3">
                        <label>Municipio <label class="text-danger">*</label> </label>
                        <select class="form-control" id="selectMunicipio" formControlName="municipioId">
                          <option [ngValue]="null" disabled>Selecciona un municipio</option>
                          <option *ngFor="let municipio of municipios" [ngValue]="municipio.municipioId">
                            {{municipio.municipio | titlecase }}</option>
                        </select>
                        <span class="form-text text-danger" *ngIf="validarFormGrupoOrganizado('municipioId')">Campo
                          obligatorio</span>
                      </div>
                      <div class="col-12 col-lg-3">
                        <label>Tipo de organismo <label class="text-danger">*</label> </label>
                        <select class="form-control" id="selectMunicipio" formControlName="tipoOrganismoId"
                          (change)="nuevoTipoOrganismo($event.target.value)">
                          <option [ngValue]="null" disabled>Selecciona un tipo de organismo</option>
                          <option [ngValue]="'nuevoTipoOrganismo'">Nuevo tipo de organismo</option>
                          <option *ngFor="let tipoOrganismo of tiposOrganismos"
                            [ngValue]="tipoOrganismo.tipoOrganismoId">{{tipoOrganismo.tipo_organismo | titlecase }}
                          </option>
                        </select>
                        <span class="form-text text-danger" *ngIf="validarFormGrupoOrganizado('tipoOrganismoId')">Campo
                          obligatorio</span>
                      </div>
                      <div class="col-12 col-lg-3">
                        <label for="selectProcesoElectoral">Proceso electoral <label
                            class="text-danger">*</label></label>
                        <select class="form-control" id="selectProcesoElectoral" formControlName="procesoElectoralId">
                          <option [ngValue]="null" disabled>Selecciona un proceso electoral</option>
                          <option *ngFor="let procesoElectoral of procesosElectorales"
                            [ngValue]="procesoElectoral.procesoElectoralId">{{procesoElectoral.proceso | titlecase }}
                          </option>
                        </select>
                        <span class="form-text text-danger"
                          *ngIf="validarFormGrupoOrganizado('procesoElectoralId')">Campo obligatorio</span>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-12 col-lg-3">
                        <label>Teléfono del grupo organizado <label class="text-danger">*</label></label>
                        <input type="text" class="form-control" placeholder="999 999 9999"
                          formControlName="telefono_gosc">
                        <span class="form-text text-danger" *ngIf="validarFormGrupoOrganizado('telefono_gosc')">Campo
                          obligatorio</span>
                        <span class="form-text text-danger"
                          *ngIf="formGrupoOrganizadoValidation.controls['telefono_gosc'].hasError('minlength')">Mínimo
                          siete números</span>
                        <span class="form-text text-danger"
                          *ngIf="formGrupoOrganizadoValidation.controls['telefono_gosc'].hasError('maxlength')">Máximo
                          quince números</span>
                        <span class="form-text text-danger"
                          *ngIf="formGrupoOrganizadoValidation.controls['telefono_gosc'].errors?.pattern">Formato
                          incorrecto</span>
                      </div>
                      <div class="col-12 col-lg-3">
                        <label>Extensión</label>
                        <input type="text" class="form-control" placeholder="Extensión" formControlName="extension">
                        <span class="form-text text-danger"
                          *ngIf="formGrupoOrganizadoValidation.controls['extension'].hasError('minlength')">Mínimo tres
                          números</span>
                        <span class="form-text text-danger"
                          *ngIf="formGrupoOrganizadoValidation.controls['extension'].hasError('maxlength')">Máximo cinco
                          números</span>
                        <span class="form-text text-danger"
                          *ngIf="formGrupoOrganizadoValidation.controls['extension'].errors?.pattern">Solo
                          números</span>
                      </div>
                      <div class="col-12 col-lg-3">
                        <label>Página web</label>
                        <input type="text" class="form-control" placeholder="www.example.com"
                          formControlName="pagina_web">
                        <span class="form-text text-danger"
                          *ngIf="formGrupoOrganizadoValidation.controls['pagina_web'].hasError('minlength')">Mínimo diez
                          caracteres</span>
                        <span class="form-text text-danger"
                          *ngIf="formGrupoOrganizadoValidation.controls['pagina_web'].hasError('maxlength')">Máximo
                          docientos caracteres</span>
                        <span class="form-text text-danger"
                          *ngIf="formGrupoOrganizadoValidation.controls['pagina_web'].errors?.pattern">El formato debe
                          ser www.example.com</span>
                      </div>

                      <div class="col-12 col-lg-3">
                        <label>Ficha de registro</label>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="FichaRegistro" formControlName="logotipo"
                            accept="application/pdf" (change)="cargarPDF($event.target.files)">
                          <label class="custom-file-label" for="FichaRegistro">{{nombreArchivoPdfFile}}</label>
                        </div>


                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-12 col-lg-2">
                        <label for="exampleFormControlInput1">Días de atención <label
                            class="text-danger">*</label></label>
                        <div formArrayName="dias_de_atencion" class="form-group"
                          *ngFor="let item of diasSemana; let i = index">
                          <div class="checkbox checkbox-primary d-inline">
                            <input type="checkbox" [id]="i" [value]="item.value" [formControlName]="i">
                            <label [for]="i" class="cr">{{item.dia}}</label>
                          </div>
                        </div>
                        <span class="form-text text-danger" *ngIf="validarFormCheckBox('dias_de_atencion')">Selecciona
                          por lo menos un día</span>
                      </div>
                      <div class="col-12 col-lg-2">
                        <label for="exampleFormControlInput1">Hora de inicio<label class="text-danger">*</label></label>
                        <input type="time" id="date" class="form-control" placeholder="Date" atp-time-picker
                          value="24:00" formControlName="horario_atencion_inicial">
                        <span class="form-text text-danger"
                          *ngIf="validarFormGrupoOrganizado('horario_atencion_inicial')">Campo obligatorio</span>
                      </div>
                      <div class="col-12 col-lg-2">
                        <label for="exampleFormControlInput1">Hora de término<label
                            class="text-danger">*</label></label>
                        <input type="time" id="date" class="form-control" placeholder="Date" atp-time-picker
                          value="24:00" formControlName="horario_atencion_termino">
                        <span class="form-text text-danger"
                          *ngIf="validarFormGrupoOrganizado('horario_atencion_termino')">Campo obligatorio</span>
                      </div>
                      <div class="col-12 col-lg-2">
                        <div class="form-group d-inline">
                          <div class="checkbox checkbox-primary d-inline">
                            <input type="checkbox" name="checkbox-in-1" id="chkProponeCiudadano"
                              formControlName="propone_ciudadano">
                            <label for="chkProponeCiudadano" class="cr">¿Propone ciudadano?</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-4">
                        <label>Observaciones</label>
                        <textarea class="form-control" rows="10" placeholder="Observaciones"
                          formControlName="observacion"></textarea>
                        <span class="form-text text-danger"
                          *ngIf="formGrupoOrganizadoValidation.controls['pagina_web'].hasError('minlength')">Mínimo diez
                          caracteres</span>
                        <span class="form-text text-danger"
                          *ngIf="formGrupoOrganizadoValidation.controls['pagina_web'].hasError('maxlength')">Máximo
                          docientos caracteres</span>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-12 centered-content">
                  <div class="btn-group mt-10">
                    <button type="button" class="btn btn-secondary btn-sm"
                      routerLink="['/grupos-organizados-de-la-sociedad-civil/directorio']">Regresar al
                      directorio</button>
                    <button type="button" class="btn btn-primary btn-sm" (click)="pasoSiguiente()"
                      [disabled]="formGrupoOrganizadoValidation.invalid">Continuar</button>
                  </div>
                </div>
              </div>


            </aw-wizard-step>

            <aw-wizard-step stepTitle="Dirección">
              <div class="row">
                <div class="col-12">
                  <h5>Dirección</h5>
                  <hr>
                  <form autocomplete="off" [formGroup]="formDireccionValidation">
                    <div class="form-group row">
                      <div class="col-12 col-lg-6">
                        <label for="exampleFormControlInput1">Calle y número<label class="text-danger">*</label></label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                          placeholder="Calle y número" formControlName="calle">
                        <span class="form-text text-danger" *ngIf="validarFormDireccion('calle')">Campo
                          obligatorio</span>
                        <span class="form-text text-danger"
                          *ngIf="formDireccionValidation.controls['calle'].hasError('minlength')">Mínimo diez
                          caracteres</span>
                        <span class="form-tet text-danger"
                          *ngIf="formDireccionValidation.controls['calle'].hasError('maxlength')">Máximo docientos
                          caracteres</span>
                        <span class="form-text text-danger"
                          *ngIf="formDireccionValidation.controls['calle'].errors?.pattern">No se permiten caracteres
                          especiales</span>
                      </div>
                      <div class="col-12 col-lg-6">
                        <label for="exampleFormControlInput1">Colonia<label class="text-danger">*</label></label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Colonia"
                          formControlName="colonia">
                        <span class="form-text text-danger" *ngIf="validarFormDireccion('colonia')">Campo
                          obligatorio</span>
                        <span class="form-text text-danger"
                          *ngIf="formDireccionValidation.controls['colonia'].hasError('minlength')">Mínimo diez
                          caracteres</span>
                        <span class="form-text text-danger"
                          *ngIf="formDireccionValidation.controls['colonia'].hasError('maxlength')">Máximo docientos
                          caracteres</span>
                        <span class="form-text text-danger"
                          *ngIf="formDireccionValidation.controls['colonia'].errors?.pattern">No se permiten caracteres
                          especiales</span>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-12 col-lg-6">
                        <label for="exampleFormControlInput1">Código postal<label class="text-danger">*</label></label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                          placeholder="Código postal" formControlName="codigo_postal">
                        <span class="form-text text-danger" *ngIf="validarFormDireccion('codigo_postal')">Campo
                          obligatorio</span>
                        <span class="form-text text-danger"
                          *ngIf="formDireccionValidation.controls['codigo_postal'].hasError('minlength')">Mínimo cinco
                          digitos</span>
                        <span class="form-text text-danger"
                          *ngIf="formDireccionValidation.controls['codigo_postal'].hasError('maxlength')">Máximo cinco
                          digitos</span>
                        <span class="form-text text-danger"
                          *ngIf="formDireccionValidation.controls['codigo_postal'].errors?.pattern">No tiene el formato
                          correcto</span>
                      </div>
                      <div class="col-12 col-lg-6">
                        <label for="exampleFormControlInput1">Selecciona la ubicación en el mapa<label
                            class="text-danger">*</label></label>

                      </div>
                    </div>
                  </form>
                </div>

                <div class="col-12 centered-content">
                  <div class="btn-group mt-10">
                    <button type="button" class="btn btn-secondary btn-sm" awPreviousStep>Regresar</button>
                    <button type="button" class="btn btn-primary btn-sm" (click)="pasoSiguiente()"
                      [disabled]="formDireccionValidation.invalid">Continuar</button>
                  </div>
                </div>
              </div>
            </aw-wizard-step>

            <aw-wizard-step stepTitle="Titular">
              <div class="row">
                <div class="col-12">
                  <h5>Titular</h5>
                  <hr>
                  <form autocomplete="off" [formGroup]="formTitularValidation">
                    <div class="form-group row">
                      <div class="col-12 col-lg-6">
                        <label for="exampleFormControlInput1">Nombre del titular<label
                            class="text-danger">*</label></label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                          placeholder="Nombre del titular" formControlName="nombre">
                        <span class="form-text text-danger" *ngIf="validarFormTitular('nombre')">Campo
                          obligatorio</span>
                        <span class="form-text text-danger"
                          *ngIf="formTitularValidation.controls['nombre'].hasError('minlength')">Mínimo cinco
                          caracteres</span>
                        <span class="form-text text-danger"
                          *ngIf="formTitularValidation.controls['nombre'].hasError('maxlength')">Máximo ciento cincuenta
                          caracteres</span>
                        <span class="form-text text-danger"
                          *ngIf="formTitularValidation.controls['nombre'].errors?.pattern">No se permiten caracteres
                          especiales</span>
                      </div>
                      <div class="col-12 col-lg-6">
                        <label for="exampleFormControlInput1">Sexo<label class="text-danger">*</label></label>
                        <br>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="radioMasculino" class="custom-control-input" value="M"
                            formControlName="genero">
                          <label class="custom-control-label" for="radioMasculino">Hombre</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="radioFemenino" class="custom-control-input" value="F"
                            formControlName="genero">
                          <label class="custom-control-label" for="radioFemenino">Mujer</label>
                        </div>
                        <span class="form-text text-danger" *ngIf="validarFormTitular('genero')">Campo
                          obligatorio</span>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-12 col-lg-6">
                        <label for="exampleFormControlInput1">Cargo<label class="text-danger">*</label></label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Cargo"
                          formControlName="cargo">
                        <span class="form-text text-danger" *ngIf="validarFormTitular('cargo')">Campo obligatorio</span>
                        <span class="form-text text-danger"
                          *ngIf="formTitularValidation.controls['cargo'].hasError('minlength')">Mínimo cinco
                          caracteres</span>
                        <span class="form-text text-danger"
                          *ngIf="formTitularValidation.controls['cargo'].hasError('maxlength')">Máximo setenta
                          caracteres</span>
                        <span class="form-text text-danger"
                          *ngIf="formTitularValidation.controls['cargo'].errors?.pattern">No se permiten caracteres
                          especiales</span>
                      </div>
                      <div class="col-12 col-lg-6">
                        <label for="exampleFormControlInput1">Email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                          placeholder="email@example.com" formControlName="email">
                        <span class="form-text text-danger"
                          *ngIf="formTitularValidation.controls['cargo'].hasError('maxlength')">Máximo docientos
                          caracteres</span>
                        <span class="form-text text-danger"
                          *ngIf="formTitularValidation.controls['cargo'].errors?.pattern">No tiene el formato de
                          email</span>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-12 col-lg-6">
                        <label for="exampleFormControlInput1">Teléfono particular</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                          placeholder="Teléfono particular" formControlName="telefono_particular">
                        <span class="form-text text-danger"
                          *ngIf="formTitularValidation.controls['telefono_particular'].hasError('minlength')">Mínimo
                          siete números</span>
                        <span class="form-text text-danger"
                          *ngIf="formTitularValidation.controls['telefono_particular'].hasError('maxlength')">Máximo
                          quince números</span>
                        <span class="form-text text-danger"
                          *ngIf="formTitularValidation.controls['telefono_particular'].errors?.pattern">Formato
                          incorrecto</span>
                      </div>
                      <div class="col-12 col-lg-6">
                        <label for="exampleFormControlInput1">Contacto</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Contacto"
                          formControlName="nombre_contacto">
                        <span class="form-text text-danger"
                          *ngIf="formTitularValidation.controls['nombre_contacto'].hasError('minlength')">Mínimo cinco
                          caracteres</span>
                        <span class="form-text text-danger"
                          *ngIf="formTitularValidation.controls['nombre_contacto'].hasError('maxlength')">Máximo ciento
                          cincuenta caracteres</span>
                        <span class="form-text text-danger"
                          *ngIf="formTitularValidation.controls['nombre_contacto'].errors?.pattern">No se permiten
                          caracteres especiales</span>

                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-12 centered-content">
                  <div class="btn-group mt-10">
                    <button type="button" class="btn btn-secondary btn-sm" awPreviousStep>Regresar</button>
                    <button type="button" class="btn btn-primary btn-sm" (click)="pasoSiguiente()"
                      [disabled]="formTitularValidation.invalid">Continuar</button>
                  </div>
                </div>
              </div>
            </aw-wizard-step>

            <aw-wizard-step stepTitle="Cesión de datos personales">
              <div class="row">
                <div class="col-12">
                  <h5>Cesión de datos personales</h5>
                  <hr>
                  <form autocomplete="off" [formGroup]="formCesionDatosPersonalesValidation">
                    <div class="col-12 text-center">
                      <label for="exampleFormControlInput1">Marque los datos personales que se le proporcionaron</label>
                    </div>
                    <div class="form-group row">
                      <div class="col-12 col-lg-3">
                        <label for="exampleFormControlInput1">Fecha<label class="text-danger">*</label></label>
                        <div class="input-group">
                          <input class="form-control" container="body" autocomplete="off" placeholder="yyyy-mm-dd"
                            name="dp" ngbDatepicker #d="ngbDatepicker" formControlName="fecha_cesion">
                          <div class="input-group-append">
                            <span class="input-group-text" (click)="d.toggle()">
                              <i class="fa fa-calendar"></i>
                            </span>
                          </div>
                        </div>
                        <span class="form-text text-danger"
                          *ngIf="validarFormCesionDatosPersonales('fecha_cesion')">Campo obligatorio</span>
                      </div>
                      <div class="col-12 col-lg-3 form-group d-inline">
                        <div class="checkbox checkbox-primary d-inline">
                          <input type="checkbox" name="checkbox-d-in-1" id="chkNombre" formControlName="check_nombre">
                          <label for="chkNombre" class="cr">Nombre de la persona</label>
                        </div>
                      </div>
                      <div class="col-12 col-lg-3 form-group d-inline">
                        <div class="checkbox checkbox-primary d-inline">
                          <input type="checkbox" name="checkbox-in-1" id="chkDireccion"
                            formControlName="check_direccion">
                          <label for="chkDireccion" class="cr">Dirección</label>
                        </div>
                      </div>
                      <div class="col-12 col-lg-3 form-group d-inline">
                        <div class="checkbox checkbox-primary d-inline">
                          <input type="checkbox" name="checkbox-d-in-1" id="chkTelefonoParticular"
                            formControlName="check_telefonoParticular">
                          <label for="chkTelefonoParticular" class="cr">Teléfono particular</label>
                        </div>
                      </div>

                      <div class="col-12 col-lg-3 form-group">
                        <div class="checkbox checkbox-primary">
                          <input type="checkbox" name="checkbox-in-1" id="chkEmail" formControlName="check_email">
                          <label for="chkEmail" class="cr">Correo electrónico</label>
                        </div>
                      </div>
                      <div class="col-12 col-lg-3 form-group">
                        <div class="checkbox checkbox-primary">
                          <input type="checkbox" name="checkbox-d-in-1" id="chkCesionDatosPersonales"
                            formControlName="check_cesion_datos">
                          <label for="chkCesionDatosPersonales" class="cr">¿Cesión de datos personales?</label>
                        </div>
                      </div>

                      <div class="col-12 col-lg-3">
                        <label for="exampleFormControlInput1">Medio</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Medio"
                          formControlName="medio">
                        <span class="form-text text-danger"
                          *ngIf="formCesionDatosPersonalesValidation.controls['medio'].hasError('minlength')">Mínimo
                          cinco caracteres</span>
                        <span class="form-text text-danger"
                          *ngIf="formCesionDatosPersonalesValidation.controls['medio'].hasError('maxlength')">Máximo
                          ciento cincuenta caracteres</span>
                        <span class="form-text text-danger"
                          *ngIf="formCesionDatosPersonalesValidation.controls['medio'].errors?.pattern">No se permiten
                          caracteres especiales</span>
                      </div>
                      <div class="col-12 col-lg-3">
                        <label for="exampleFormControlInput1">Fuente</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Fuente"
                          formControlName="fuente">
                        <span class="form-text text-danger"
                          *ngIf="formCesionDatosPersonalesValidation.controls['fuente'].hasError('minlength')">Mínimo
                          cinco caracteres</span>
                        <span class="form-text text-danger"
                          *ngIf="formCesionDatosPersonalesValidation.controls['fuente'].hasError('maxlength')">Máximo
                          ciento cincuenta caracteres</span>
                        <span class="form-text text-danger"
                          *ngIf="formCesionDatosPersonalesValidation.controls['fuente'].errors?.pattern">No se permiten
                          caracteres especiales</span>
                      </div>

                    </div>
                  </form>
                </div>
                <!-- <pre> {{ formCesionDatosPersonalesValidation.value | json }}</pre> -->
                <div class="col-sm-12 centered-content">
                  <div class="btn-group mt-10">
                    <button type="button" class="btn btn-secondary btn-sm" awPreviousStep>Regresar</button>
                    <button type="button" class="btn btn-success btn-sm"
                      [disabled]="formCesionDatosPersonalesValidation.invalid || bloquearBoton"
                      (click)="guardar()">Guardar</button>
                  </div>
                </div>
              </div>
            </aw-wizard-step>

          </aw-wizard>
        </div>
      </div>
    </app-card>
  </div>
</div>

<!--Modal forma parte del form para capturar descripcion_baja-->
<ng-template #myModalInfo let-modal >
  <form [formGroup]="formNuevoTipoOrganismo">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Nuevo tipo de organismo</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>Tipo de organismo</label>
      <input type="text" class="form-control" placeholder="Escribe el nuevo tipo de organismo" formControlName="tipo_organismo">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal"
      (click)="modal.close()">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="guardarTipoOrganismo()"
      [disabled]="bloquearBoton">Guardar</button>
  </div>
  <pre> {{ formNuevoTipoOrganismo.value | json }}</pre>
</form>
</ng-template>
<!--Modal END-->